@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,500;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.nav {
  padding-top: 32px;
  height: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.container {
  width: 100%;
  padding: 56px 0;
}

nav .row {
    justify-content: space-between;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  gap: 24px;
}

.nav__logo--img {
  width: 100px;
  height: 50px;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  color: #333;
  margin-left: 16px;
  font-weight: bold;
  font-size: 24px;
}
.nav__link--primary {
  padding: 8px 24px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
}
img {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

/* 
LANDING 
*/

.landing {
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 24px;
}

.landing__container {
  width: 100%;
}

.box {
  padding: 20px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: aquamarine;
}

.box-2 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}