@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.nav {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  background-color: white;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  width: 160px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

nav .row {
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  gap: 24px;
}

.nav__logo--img {
  width: 100px;
  height: 50px;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  color: #333;
  margin-left: 16px;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__link--primary {
  padding: 8px 24px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid #007bff;
}
.nav__link--primary:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
}
button:hover {
  background-color: #0056b3;
}

img {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

/* 
LANDING 
*/

.landing {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 24px;
}

.landing__container {
  width: 100%;
}

.landing__description {
  margin-bottom: 32px;
}
.landing__description--para {
  font-size: 24px;
  color: #555;
  margin-top: 16px;
  margin-bottom: 32px;
}

.landing__button {
  padding: 12px 32px;
  font-size: 24px;
  line-height: 1.5;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.landing__button:hover {
  background-color: #0056b3;
}