@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

nav {
    display: flex;
    height: 80px;
}

.logo {
    width: 240px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 24px;
    font-weight: 700;
    color: #242663;
    text-decoration: none;
    width: 240px;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: none;
}

.nav__link--primary {
    border: 2px solid #242663;
    border-radius: 8px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    color: #242663;
    font-size: 42px;
    text-align: center;
    border: none;
}

.menu__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu--open .menu__backdrop {
    display: flex;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 32px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 8px;
    color: white;
}